<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742633197910-rdtb2lh7e7q8ot76glbk58lrfqktb07c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742633197910-rdtb2lh7e7q8ot76glbk58lrfqktb07c</string>
	<key>API_KEY</key>
	<string>AIzaSyAIhNfi5BZR_ixKXEIMBJNp94SxhL176ys</string>
	<key>GCM_SENDER_ID</key>
	<string>742633197910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunter.hunterchat</string>
	<key>PROJECT_ID</key>
	<string>hunter-chat-9b603</string>
	<key>STORAGE_BUCKET</key>
	<string>hunter-chat-9b603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742633197910:ios:79bfafa6eec2eeb31406f7</string>
</dict>
</plist>